page {
    width: 80%;
    height: 250vh;
    background-color: rgb(227, 227, 233);
    margin-left: 10%;

}

.class {

    display: flex;

    height: 400px;
    width: 80%;
    background-color: black;
    border-radius: 15px;
    margin-left: 10%;

}

.text {
    color: white;
    margin-left: 12px;
}

.button {
    height: 40px;
    width: 60px;
    text-decoration: none;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 34px;
    margin-left: 15px;
    border: 1px solid white;

}

.match {
    display: flex;
    width: 250px;
    height: 250px;
    background-color: rgb(26, 24, 24);
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    background-color: white;
    margin: 15%;
    border-radius: 5PX;
    margin-top: 5px;
    text-align: center;
}

.boxs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    background-color: rgb(211, 205, 205);
    margin: 15%;
    border-radius: 5PX;
    margin-top: 5px;
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    background-color: rgb(224, 38, 38);
    margin: 15%;
    border-radius: 5PX;
    margin-top: 5px;
}

.player {
    border-radius: 9px;
    height: 170px;
    width: 100px;
    margin: 10px;
    row-gap: 10px;
    column-gap: 10px;
    padding: 50px;
    border: 1px solid rgb(110, 110, 109);

}

.matchs {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    margin-left: 30px;

}


.display {
    display: flex;
}

.image {
    height: 100px;
    width: 150px;
    padding-top: 2px;
    margin-top: -38px;
    margin-left: -18px;
}

.tag {
    display: flex;
    margin-top: 20px;

}

.font {
    margin: 5px;
    font-size: 12px;
}

.her {
    margin: -10px;

    padding: 20px;
}

span {
    display: flex;
    margin left: 20px;
}

p {
    display: flex;
}

.inline {
    text-align: center;
    display: flex;
    padding-left: 250px;
    margin-left: 115px;


}

.iteam {

    padding-left: 25px;
    text-decoration: none;
    list-style: none;
    color: aliceblue;

}

.goal {
    text-align: center;
    font-size: 36px;
    color: aliceblue;
}

.end {
    text-align: center;
    width: 100%;
    height: 250px;
    background-color: black;
    margin-top: 30px;
    padding-top: 50px;
}

/*------------------------
 Media Queries
 ------------------*/
/*Mobile Devices*/
@media screen and (max-width: 688px) {

    .sec {
        flex-direction: column;


    }


    .details {
        height: 580;
        width: 600px;
        margin-left: -10;
        padding-left: -10;
        text-align: center;
    }

    .text,
    .button {
        font-size: 20px;
        margin: 2px;
    }

    .imge img {
        flex-direction: column;
        width: 250px;
        height: auto;
        margin: 0;
        margin-top: 34px;
        margin-left: 5px;
        padding: 0;

    }

    /*body*/
    .player {
        height: 400px;
        width: 530px;
        flex-direction: column;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(74, 233, 114);
        margin-bottom: 20px;
        padding-bottom: 20px;

    }

    .tag {
        flex-direction: column;
        text-align: center;
        width: 530px;
        margin-bottom: 30px;


    }

    .matchs {
        padding-left: 40px;
        margin-left: 30px;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        width: 530px;

        margin-top: 120px;
        padding-top: 120px;

    }

    .br {
        border: 1 px solid white;
        border-radius: 10px;
    }

    .heading,
    .div {
        padding: -10px;
        margin-left: -10px;
        width: 530px;
        margin-bottom: 10px;
    }




    .class {
        display: flex;
        height: 400px;
        width: 80%;
        background-color: rgb(245, 131, 131);
        border-radius: 15px;
        margin-left: 10%;
        margin-right: 5px;

        /*footer*/
    }

    .footer {
        padding-top: 50px;
        height: 170px;
        width: 300px;
        margin-top: 40px;

    }

    .inline {
        grid-template-columns: repeat(1, 1fr);
        color: brown;


    }
}